<h2>Cambiar Contraseña</h2>
<div class="content">
	<form class="content__form flex-column" autocomplete="off" [formGroup]="formGroup">
		<mat-form-field appearance="outline">
			<mat-label>Contraseña anterior</mat-label>
			<input type="password" matInput value="" formControlName="passwordAnt" />
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Nueva contraseña</mat-label>
			<input type="password" matInput value="" formControlName="passwordNew" />
		</mat-form-field>

		<button mat-raised-button color="primary" (click)="clickChange()">GUARDAR</button>
	</form>
</div>
